<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @*Core Content Start*@

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link href="https://cdn.kendostatic.com/2023.1.117/styles/kendo.bootstrap-main.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.kendostatic.com/2023.1.117/js/jquery.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.117/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.117/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2023.1.117/js/kendo.aspnetmvc.min.js"></script>
    @*Core Content End*@
    <style>
        .row > * {
            width: auto !important;
        }
    </style>
</head>
<body class="k-content">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid d-flex justify-content-between p-0">
            <a class="navbar-brand d-flex align-items-center" asp-controller="Home" asp-action="TelegramBotParams">Телеграм бот</a>

            <button id="configure" class="k-rpanel-toggle k-button k-button-md k-button-rectangle k-button-solid-primary btn-toggle">
                <span class="k-icon k-i-menu"></span>
            </button>
        </div>
    </nav>
    <div id="responsive-panel" class="navbar navbar-dark bg-light mb-4">
        <kendo-responsivepanel name="responsive-panel" auto-close="false" breakpoint="768" orientation="top">
            @if (Context.User.Identity.IsAuthenticated)
            {
                @(Html.Kendo().Menu()
                    .Name("Menu")
                    .Items(items =>
                    {
                        items.Add().Text("Главная").Action("TelegramBotParams", "Home", new { area = "" });
                        items.Add().Text("Команды").Action("TelegramBotMenu", "Home", new { area = "" });
                        items.Add().Text("Конструктор").Action("TelegramBotCostructorMenu", "Home", new { area = "" });
                        items.Add().Text("Поля профиля").Action("TelegramBotRegisterConsitions", "Home", new { area = "" });
                        items.Add().Text("Сообщения").Action("TelegramBotParamMessages", "Home", new { area = "" });
                    })
                    )
                <form asp-controller="Account" asp-action="LogOff" method="post">
                    <button type="submit">Выход</button>
                </form>
            }

        </kendo-responsivepanel>
    </div>

    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>

    <footer class="footer text-center d-flex align-items-center">
        <div class="container-fluid">
            <p class="text-muted">
                Copyright © @DateTime.Now.Year Progress Software Corporation and/or its subsidiaries or affiliates. All rights reserved.
            </p>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
